In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime
sns.set_theme()

In [2]:
# Carregando os dados
df = pd.read_csv('/home/fause/ML-Transportes/PBIC/Etapa2/acidentes_pbic_2020_2025_condutor_marca_limpo_Final.csv', encoding="utf-8")

/tmp/ipykernel_67632/1331740684.py:2: DtypeWarning: Columns (32,33) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/home/fause/ML-Transportes/PBIC/Etapa2/acidentes_pbic_2020_2025_condutor_marca_limpo_Final.csv', encoding="utf-8")

In [3]:
df = df.dropna(subset=['pesid'])


df.tail()

,id,pesid,data_inversa,dia_semana,horario,uf,br,km,municipio,causa_principal,...,mes,dia_mes,hora,gravidade_numerica,total_vitimas,Marca_Principal,Modelo_Grupo,Nome_Modelo,Marca_Arvore,Marca_Subarvore
1678321,705809.0,1571785.0,2025-05-01,quinta-feira,19:50:00,SE,101.0,"98,6",SAO CRISTOVAO,Sim,...,5,1,19,0,0.0,Não Informado,Não Informado,NO,Não Informado,NO
1678322,705809.0,1571786.0,2025-05-01,quinta-feira,19:50:00,SE,101.0,"98,6",SAO CRISTOVAO,Sim,...,5,1,19,3,1.0,HONDA,CG 125 FAN ES,CG,HONDA,CG
1678323,705809.0,1571785.0,2025-05-01,quinta-feira,19:50:00,SE,101.0,"98,6",SAO CRISTOVAO,Sim,...,5,1,19,0,0.0,Não Informado,Não Informado,NO,Não Informado,NO
1678324,705883.0,1571987.0,2025-06-22,domingo,12:30:00,MG,354.0,764,ITAMONTE,Sim,...,6,22,12,1,1.0,HONDA,CB 650R,CB,HONDA,CB
1678325,705883.0,1571987.0,2025-06-22,domingo,12:30:00,MG,354.0,764,ITAMONTE,Sim,...,6,22,12,1,1.0,HONDA,CB 650R,CB,HONDA,CB

In [4]:
# Contar quantos veículos por acidente
veiculos_por_acidente = df.groupby('id').size().reset_index(name='num_veiculos')

# Mostrar os acidentes com mais de um veículo
multiveiculos = veiculos_por_acidente[veiculos_por_acidente['num_veiculos'] > 1]

print(multiveiculos)

              id  num_veiculos
0       260031.0             2
1       260036.0             2
2       260037.0             2
3       260038.0             3
4       260039.0             4
...          ...           ...
368376  705735.0             2
368377  705751.0             2
368378  705800.0            12
368379  705809.0            18
368380  705883.0             2

[291712 rows x 2 columns]

In [5]:
import pandas as pd

# Caminho do arquivo
caminho = '/home/fause/ML-Transportes/PBIC/Etapa2/acidentes_pbic_2020_2025_condutor_marca_limpo_Final.csv'

# Carregar o DataFrame
df = pd.read_csv(caminho, encoding='utf-8')

# Definir o ID do acidente que você quer consultar
id_alvo = 260057.0
#579070.0

# Filtrar os registros com esse ID
acidente = df[df['id'] == id_alvo]

# Verificar se encontrou registros
if acidente.empty:
    print(f"Nenhum registro encontrado para o ID {id_alvo}.")
else:
    print(f"=== Registros do acidente ID {id_alvo} ===")
    print(f"Total de veículos/pessoas envolvidos: {acidente.shape[0]}\n")

    # Selecionar colunas relevantes
    colunas = [
        'id', 'id_veiculo',
        'marca_veiculo', 'Marca_Arvore', 'Marca_Subarvore',
        'tipo_veiculo', 'ano_fabricacao_veiculo',
        'sexo_condutor', 'idade_condutor',
        'municipio', 'data_inversa','ordem_tipo_acidente', 'tipo_acidente', 'causa_acidente'
    ]

    # Filtrar apenas colunas que realmente existem no CSV
    colunas_existentes = [c for c in colunas if c in acidente.columns]

    # Mostrar o resultado
    display(acidente[colunas_existentes])

/tmp/ipykernel_67632/10204651.py:7: DtypeWarning: Columns (32,33) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(caminho, encoding='utf-8')

=== Registros do acidente ID 260057.0 ===
Total de veículos/pessoas envolvidos: 4

,id,id_veiculo,Marca_Arvore,Marca_Subarvore,tipo_veiculo,ano_fabricacao_veiculo,municipio,data_inversa,ordem_tipo_acidente,tipo_acidente,causa_acidente
36,260057.0,464360.0,FIAT,UNO,Automóvel,1997.0,BRASILIA,2020-01-01,2,Colisão traseira,Ingestão de Álcool
37,260057.0,464361.0,HONDA,CB,Motocicleta,2019.0,BRASILIA,2020-01-01,2,Colisão traseira,Ingestão de Álcool
38,260057.0,464360.0,FIAT,UNO,Automóvel,1997.0,BRASILIA,2020-01-01,1,Atropelamento de Pedestre,Ingestão de Álcool
39,260057.0,464361.0,HONDA,CB,Motocicleta,2019.0,BRASILIA,2020-01-01,1,Atropelamento de Pedestre,Ingestão de Álcool